{% extends 'temp/Admin home.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin View Reply Feedback</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <center>
    <br>
		<h1>Admin View Reply Feedback</h1>
    <table border="1">
    <tr style="color:#DC143C">
    	<td>Feedback id</td>.
    	<td>User id</td>
    	<td>Route id</td>
		<td>Bus id</td>
		<td>rating</td>
		<td>comment</td>
		<td>feedback date</td>
    </tr>
        {% for i in x %}
    <tr style="color:#0E2E50">
		<td>{{ i.feedback_id }}</td>
		<td>{{ i.user_id }}</td>
		<td>{{ i.route_id}}</td>
		<td>{{ i.bus_id}}</td>
		<td>{{ i.rating}}</td>
		<td>{{ i.comment }}</td>
		<td>{{ i.feedback_date }}</td>
    </tr>
                {% endfor %}

    </table>
    <br>
    </center>
</body>
</html>
{% endblock %}
